@{ Layout = "_Layout"; }
<div class="container text-center mt-5" dir="rtl">
    <h2 class="text-gold mb-5">مرحباً بك في مول الحلبي الذكي</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <div class="card bg-dark border-gold p-4">
                <h4 class="text-white">لديك حساب؟</h4>
                <a href="/Account/Login" class="btn btn-gold w-100 mt-3">تسجيل الدخول</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark border-gold p-4">
                <h4 class="text-white">مستخدم جديد؟</h4>
                <a href="/Account/Register" class="btn btn-outline-light w-100 mt-3">إنشاء حساب</a>
            </div>
        </div>
    </div>
</div>